


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script src="../node_modules/gridstack/dist/gridstack-all.js"></script>
        <link href="../node_modules/gridstack/dist/gridstack.min.css" rel="stylesheet"/>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/vanjs-org/van/public/van-1.5.0.nomodule.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vanjs-ui@0.10.0/dist/van-ui.nomodule.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

        <style type="text/css">
            .grid-stack-item-content { background-color: #18BC9C; }
        </style>
        <script src="/lib/init.js"></script>
        <script type="module" src="../index.js"></script>
       
    </head>
    <body>
        <%-  include('../components/GridStack', {widgets:widgets}); %>
    </body>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

</html>