<div class="grid-stack">

    <% widgets.forEach(function(widget) { %>
         <%- include('../components/Widget/Widget', {widget}); %>
    <% }); %> 

</div>

<script>
    console.log('from gridstack')
</script>